[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Active Remote Sensing - Cerca con Google
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fgpm.nasa.gov%2Feducation%2Fsites%2Fdefault%2Ffiles%2Fimage_files%2Fremote_sensing_diagram_0_0.jpg&imgrefurl=https%3A%2F%2Fgpm.nasa.gov%2Feducation%2Fimages%2Factive-and-passive-remote-sensing-diagram&tbnid=uILy5TwR14qg_M&vet=12ahUKEwjjmrGhkJP9AhVgkv0HHRfkCggQMygCegUIARC5AQ..i&docid=IlnIvI4vsILVSM&w=1220&h=800&q=Active%20Remote%20Sensing&ved=2ahUKEwjjmrGhkJP9AhVgkv0HHRfkCggQMygCegUIARC5AQ
Icon=text-html
