[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a BRICS countries launch joint committee on space cooperation
Type=Link
URL=http://www.cnsa.gov.cn/english/n6465652/n6465653/c6840322/content.html
Icon=text-html
