[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Hyperwall: Remotely Sensing Our Planet
Type=Link
URL=https://svs.gsfc.nasa.gov/30892
Icon=text-html
