[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Microwave Radiometry— Passive Remote Sensing of the Earth | NASA
Type=Link
URL=https://www.nasa.gov/mission_pages/station/research/news/b4h-3rd/eo-microwave-radiometry-passive-remote-sensing
Icon=text-html
