[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Satellite Remote Sensing - an overview | ScienceDirect Topics
Type=Link
URL=https://www.sciencedirect.com/topics/earth-and-planetary-sciences/satellite-remote-sensing
Icon=text-html
