[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a Sistema di osservazione della Terra ad alta risoluzione
Type=Link
URL=http://www.cnsa.gov.cn/n6758824/n6759008/n6759012/c6794271/content.html
Icon=text-html
