[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a The spy satellites with which the United States, Germany, France, Italy and Spain are contemplating the invasion of Ukraine | Atalayar - Las claves del mundo en tus manos
Type=Link
URL=https://atalayar.com/en/content/spy-satellites-which-united-states-germany-france-italy-and-spain-are-contemplating
Icon=text-html
