[Desktop Entry]
Encoding=UTF-8
Name=Collegamento a What is Remote Sensing? | Earthdata
Type=Link
URL=https://www.earthdata.nasa.gov/learn/backgrounders/remote-sensing
Icon=text-html
